[Unit]
Description=AWTRIX Instagram Push alle 15 Minuten

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
